$body-width: 60%;
$background-color: #000;
$pane-color: #222;

#main-panel {
	background-color: $pane-color;
	display: flex;

	// Desktop
	@media (min-width: 1000px) {
		width: 80%;
		margin: 3rem auto 0px auto;
	}

	// Desktop and full width/HD
	@media (min-width: 1200px) {
		width: 60%;
		margin: 3rem auto 0px auto;
	}

	& > * {
		margin: 1rem;
	}
}

#main-sidebar {
	flex: none; // Sidebar is fixed size, content area flexes around it

	& > ul {
		padding-left: 1rem;
		padding-right: 1rem;
		list-style: none;

		& > li {
			display: block;
			font-size: 1.25rem;
			line-height: 2rem;
		}
	}
}

main {
	flex: auto;
	padding-top: 1rem;
	padding-bottom: 3rem;
}
