@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Ubuntu|Varela+Round');

$text-color: #eee;
$accent-color: #844CEF;
$text-font: Ubuntu, sans-serif;
$heading-font: "Varela Round", sans-serif;
$code-font: "Roboto Mono", monospace;

html {
	color: $text-color;
	font-family: $text-font;
	background-color: $background-color;
}

@mixin heading($font-size) {
	font-family: $heading-font;
	font-size: $font-size;
	margin: 0 0 0.1em 0;

	header & {
		// Surrounded by other headers - don't need the full bottom margin
		margin-bottom: 0.2rem;
	}
}

h1 { @include heading(2.2rem); }
h2 { @include heading(2.0rem); }
h3 { @include heading(1.8rem); }
h4 { @include heading(1.6rem); }
h5 { @include heading(1.4rem); }
h6 { @include heading(1.2rem); }

header {
	margin-bottom: 1rem;
}

p {
	line-height: 1.45; // https://stackoverflow.com/a/20818206
	margin-top: 0;
}

a {
	color: $accent-color;
}

a:hover {
	color: lighten($accent-color, 15);
}

#main-sidebar a {
	color: unset;
	text-decoration: unset;

	&:hover {
		@extend a:hover;
	}
}

code {
	font-family: $code-font;
}

blockquote {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	border-left: 8px solid $accent-color;
}
