{%- extends "section.html" -%}
{%- block content -%}
<ul>
{%- for post in section.pages | filter(attribute="draft", value=false) -%}
<li>
	<a href='{{ post.permalink }}'>{{ post.title }}</a>
	<time datetime="{{ post.date }}">{{ post.date }}</time>
</li>
{%- endfor -%}
</ul>
{%- endblock content -%}
