{%- block variables -%}
{# Allow pages to declare their variables before any parsing is done #}
{%- endblock variables -%}
<!DOCTYPE html>
<html lang="{{ config.default_language }}">
	<head>
		{%- block head -%}
			<meta charset="utf-8"/>
			<title>
				{%- if page_title -%}
					{{ page_title }} | {{ config.title }}
				{%- else -%}
					{{ config.title }}
				{%- endif -%}
			</title>
			<link rel="stylesheet" href="{{ get_url(path='global.css') | safe }}"/>
		{%- endblock head -%}
	</head>
	<body>
		<div id="main-panel">
			<nav id="main-sidebar">
				<ul>
					<li><a href="{{ get_url(path='') }}">Home</a></li>
					<li><a href="{{ get_url(path='/blog/') }}">Blog</a></li>
					<li><a href="{{ get_url(path='/about') }}">About Me</a></li>
				</ul>
			</nav>
			<main>
				<header>
					{%- block header -%}
						{%- if page_title -%}
							<h1>{{ page_title }}</h1>
						{%- endif -%}
					{%- endblock header -%}
				</header>
				{%- block content -%}{%- endblock content -%}
			</main>
		</div>
		{%- block scripts -%}
		{%- endblock scripts -%}
	</body>
</html>
